
*{
margin:0;
padding: 0;
}

.tester {
display:flex;
justify-content: space-around;
margin-top: 50px
}

body{
    background-image: url(/Imagenes/Fondo.png);
    background-repeat: repeat;
}

h1 {
display: flex;
justify-content: center;
color: #1df1be;
font-family: 'Istok Web', sans-serif;
font-size: 128px;
stroke: 2px black;
-webkit-text-stroke: 3px black;
}

.buttonclass {
    width: 253px;
    height: 64px;
    border: 3px solid black;
    border-radius: 32px;
    font-family: 'Istok Web', sans-serif;
    font-size: 33px;
    color:#3b3b3b;
    background-color: #1df1be;
}

.cajita{
    width: 718px;
    height: 58px;
    background-color: white;
    border: 3px solid black;
    border-radius: 32px;
    font-family: 'Istok Web', sans-serif;
    font-size: 33px;
    color: #808080;
    padding-left: 32px;
}

pre, h2{
    font-family: 'Istok Web', sans-serif;
    font-size: 20px;
    margin-left: 35px;  
}

h2 {
    font-size: 30px;
}

.response {
    background-color:rgba(255,255,255, 0.75);*/
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 32px;
    max-width: 1409px;
    display: flex;
}

header{
    background-color: #1df1be;
    height: 60px;
    margin-top: 0 auto;
    margin-bottom: 50px;
}

footer{
    background-color: #1df1be;
    margin-bottom: 0px auto; 
    height: 60px;
    margin-top: 210px;
}



