
*{
    margin:0;
    padding: 0;
}

.tester {
    display:flex;
    justify-content: space-around;
    margin-top: 20px;
}

body{
    background-image: url(Imagenes/fondotrans.jpg);
    background-repeat: repeat;
}

h1 {
    display: flex;
    justify-content: center;
    color: #f7e128;
    font-family: 'Istok Web', sans-serif;
    font-size: 100px;
    stroke: 2px black;
    -webkit-text-stroke: 3px black;
}

.buttonclass, select {
    width: 253px;
    height: 56px;
    border: 3px solid black;
    border-radius: 32px;
    font-family: 'Istok Web', sans-serif;
    font-size: 33px;
    color:#3b3b3b;
    background-color: #f7e128;
    cursor: pointer;
}

.cajita{
    width: 718px;
    height: 50px;
    background-color: white;
    border: 3px solid black;
    border-radius: 32px;
    font-family: 'Istok Web', sans-serif;
    font-size: 33px;
    color: #808080;
    padding-left: 32px;
    cursor: pointer;
}

pre, h2{
    font-family: 'Istok Web', sans-serif;
    font-size: 20px;
    margin-left: 35px;  
}

h2 {
    font-size: 30px;
}

.response {
    background-color:rgba(255,255,255, 0.75);
    margin-left: 42px;
    border-radius: 32px;
    max-width: 93%;
    min-height: 200px;
    display: flex;
    margin-top: 50px;
    overflow: scroll;
    height: 50vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
}

#responseData{
    margin: auto;
}

header{
    background-color: #f7e128;
    height: 30px;
    margin-top: 0 auto;
    margin-bottom: 20px;
}

footer{
    background-color: #f7e128;
    height:30px;
    width: 100%;
    bottom: 0;
    position:relative;
    margin-top: 60px;
}

.buttonclass:hover {
    background-color: #d9c939;
}

option{
    background-color: #f7e128;
    text-align: center;
    font-size: 23px;
}

#texto{
    font-family: 'Istok Web', sans-serif;
    padding-bottom: 30px;
}