.tester {
display:flex;
justify-content: space-around;
}

h1 {
display: flex;
justify-content: center;
color: #219299;
font-family: 'Istok Web', sans-serif;
font-size: 128px;
border: 2px solid black;
}